@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/rvj6deg.css");
/* 
====== 
Variables 
======
*/
:root {
  --primaryFont: muli, sans serif;
  --secondaryFont: Poppins, sans serif;
  --btnDetailsHoverColor: #d4888f;
  --primaryDark: #3f3f3f;
  --mediumGray: #969494;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --primaryYellow: #ffee60;
  --primaryBackground: #fff;
  --secondaryBackground: #ececec;
  --mainBlack: #333;
  --lightGrey: #ebe3e3;
  --darkGrey: #afafaf;
  --mainTransition: all 0.2s linear;
  --mainSpacing: 0.3rem;
  --midMargin: 3rem;
  --lightShadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2);
  --mainBorderRadius: 0.25rem;
  --secondaryBorderRadius: 0.2rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont), var(--secondaryFont), -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--primaryBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  height: 100%;
}

/* 
======
Pages
======
*/
/* this wraps routed pages and modifies their background color */
.page-container {
  /* to avoid primaryBackground leaking through */
  min-height: 100vh;
  background-color: var(--secondaryBackground);
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryDark);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryDark);
  color: var(--mainWhite);
}

.btn-primary {
  background: var(--primaryDark);
  color: var(--mainWhite);
  border: 2px solid var(--primaryDark);
  transform: all 0.3s ease;
}
.btn-primary:hover {
  background: var(--primaryYellow);
  color: var(--primaryDark);
  font-weight: bold;
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-margin {
  margin: var(--midMargin);
}
.btn-more {
  padding: 0.25rem 0.4rem;
  float: right;
  border-color: transparent;
  font-size: 0.9rem;
}
.btn-more:hover {
  letter-spacing: 1.3px;
  background-color: transparent;
  color: inherit;
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--mediumGray);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryDark);
}
.main-logo {
  width: 20rem;
  transition: transform 0.2s ease;
}

.main-logo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .nav-links {
    display: block;
  }
}
/* 
====== 
About
======
*/

.about-section {
  background-color: inherit;
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.2rem;
}
/* the external link stylized to be a button */
.about-section a {
  text-transform: capitalize;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 10px;
  margin-top: 1rem;
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
.error-heading {
  font-family: var(--secondaryFont);
  font-size: 3rem;
  font-weight: 600;
}
/* 
====== 
Cocktails List 
======
*/

.section {
  padding: 5rem 0;
  background-color: var(-s);
}
.section-title {
  font-family: var(--secondaryFont);
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.section-cocktail-container {
  display: grid;
  justify-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  /* gaps for rows and columns */
  grid-gap: 1% 2%;
  grid-template-columns: repeat(auto-fit, minmax(338.8px, 1fr));
  grid-auto-rows: auto;
}
/* .cocktails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: start;
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
} */
/* 
====== 
Cocktail 
======
*/

.cocktail {
  background: var(--secondaryBackground);
  /* here be the grid business */
  display: grid;
  grid-template-rows: 1fr;
  opacity: 0.75;
  transition: all 0.3s ease;
}
.cocktail:hover {
  background-color: var(--primaryYellow);
  box-shadow: var(--lightShadow);
  opacity: 1;
}

.cocktail img {
  transition: transform 0.3s ease;
  border-top-left-radius: var(--secondaryBorderRadius);
  border-top-right-radius: var(--secondaryBorderRadius);
}

.cocktail img:hover {
  transform: scale(1.15);
}

/* image zoom handling to make sure the img stays within the container when zoomed*/
.cocktail .img-container {
  overflow: hidden;
}

.cocktail-footer {
  padding: 0.7rem 1.5rem 1.5rem 1.5rem;
  text-transform: capitalize;
}
.cocktail-footer h3,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}

.cocktail-footer h3 {
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
}
.cocktail-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}
.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
}
.form-control label {
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryDark);
}
.form-control input {
  width: 100%;
  border: none;
  border: 2px solid darkgray;
  background: var(--lightGrey);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* 
====== 
Cocktail
======
*/

.cocktail-section {
  text-align: center;
}
.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  font-weight: 400;
  margin-right: 0.5rem;
}
.drink-data {
  background: var(--primaryDark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--offWhite);
}

.instructions {
  text-transform: none;
}

.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryDark);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
